@import "@/styles/mixins/textos.scss";
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.container{
    height: 100vh;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Courgette', cursive;

}
.div_sobre{
    margin-top: 10rem;
    height: 100%;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.div_top{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15%;
    gap: 1rem;
}
.div_bottom{
    height: 400px;
    width: 400px;
    position: relative;
}
.linha{

}
.info_sobre{
    display: flex;
    align-items: center;
    gap: 10px;

}
.linha{
    height: 5px;
    width: 20px;
    color: white;
}
.text_sobre{
    font-size: 1.5rem;
    font-weight: bold;
    color: #ddaebe;
    animation: push 2s infinite ease alternate;
    @keyframes push {
        to{
            transform: translateX(1rem);
        }
    }
}
.titulo{
    font-size: 4.5rem;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
}
.desc_sobre{
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}

.buraco_negro{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //animation: animate 2s infinite ease alternate;
    animation: animate 10s infinite ease alternate;
    

    @keyframes animate {
        to{
            transform: rotate(360deg) scale(1.5);
        }
    }
}

.seta_down{
    width: 3rem;
    height: 2rem;
    color: white;
    animation: down 0.5s infinite ease alternate;
    @keyframes down {
        to{
            transform: translateY(0.3rem)
        }
    }
}
.div_seta{
    display: flex;
    justify-content: center;
}