@import "@/styles/mixins/textos.scss";
.container{
    height: 100vh;
    scroll-snap-align: center;
}
.sessaoCard{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 3%;
    @media only screen and (max-width: 768px){
        flex-direction: column;
    }
}
.card{
    width: 25%;
    height: 50%;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    transition: transform 1s;
    @media only screen and (max-width: 1366px){
        height: 55%;
    }
    @media only screen and (max-width: 768px){
        width: 90%;
        height: 25%;
        margin-left: 5px;
        margin-bottom: 5px;
    }
}
.card:hover{
    transform: scale(1.1);
}
.cardContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.cardHead{
    text-align: center;
    font-family: $font-poppins;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid white;
    width: 30%;
    @media only screen and (max-width: 1366px){
        width: 50%;
    }
    @media only screen and (max-width: 768px){
        width: 50%;
    }
}

.cardTitle{
    padding-top: 1rem;
    font-family: $font-poppins;
    font-size: 1.3rem;
    text-align: center;
    height: 6rem;
    @media only screen and (max-width: 1366px){
        font-size: 1rem;
        height: 5rem;
        font-weight: bold;
    }
    @media only screen and (max-width: 768px){
        width: 50%;
    }
    
}
.cardDesc{
    font-family: $font-poppins;
    word-wrap: break-word;
    font-size: 1.1rem;
    padding-left: 15px;
    padding-bottom: 15px;
    height: 16rem;
    @media only screen and (max-width: 1366px){
        font-size: 15px;
        padding-right: 5px;
    }
    @media only screen and (max-width: 768px){
     display: none;   
    }
    
}
.cardAnx{
    text-align: end;
    
}
.anx{
    text-decoration: none;
    color: white;
}
.anx:hover{
    color: #ddaebe;
    cursor: pointer;
}

